/* var di colori */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --black: #000000;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --azzurro: #7abfc4;
    --giallo: #e9bd3d;
    --verdescuro: #55664f;
    --verdesalvia: #91a67c;
    --indianred: #cd5c5c;
    --fullscreen: rgb(33, 37, 41, 0.5);
    
} /* var di colori */


/* background-color & color */

.root-azzurro-background {
    background-color: var(--azzurro);
    /* #7abfc4;*/
    color: var(--white);
}

.root-giallo-background {
    background-color: var(--giallo);
    color: var(--white);
}

.root-verdescuro-background {
    background-color: var(--verdescuro);
    color: var(--white);
}

.root-verdesalvia-background {
    background-color: var(--verdesalvia);
    color: var(--white);
}

.root-indianred-background {
    background-color: var(--indianred);
    color: var(--white);
}

.root-danger-text-bg {
    background-color: var(--danger);
    color: var(--white);
}

.root-warning-text-bg {
    background-color: var(--warning);
    color: var(--dark);
}

.dark-text-bg {
    background-color: var(--dark);
    color: var(--white);
}

.root-txt-bg-color-blue {
    color: var(--blue);
    background-color: var(--blue);
}
/* background-color & color */
/* color */
.root-azzurro-text {
    color: var(--azzurro);
}

.root-giallo-text {
    color: var(--giallo);
}

.root-verdescuro-text {
    color: var(--verdescuro);
}

.root-verdesalvia-text {
    color: var(--verdesalvia);
}

.root-indianred-text {
    color: var(--indianred);
}

.root-text-color-blue {
    color: var(--blue);
}

.root-text-color-purple {
    color: var(--purple);
}

.root-text-color-orange {
    color: var(--orange);
}

.root-text-color-cyan {
    color: var(--cyan);
}

.root-text-color-danger {
    color: var(--danger);
}/* color */

 /* align-text */
.root-text-align-left {
    text-align: left;
}

.root-text-align-center {
    text-align: center;
}

.root-text-align-right {
    text-align: right;
} /* align-text */

/* background-color */
.root-bg-color-blue {
    background-color: var(--blue);
}

/* font-weight */
.root-font-bold {
    font-weight: bold;
}
/* font-weight */
/* text-transform */
.root-font-uppercase {
    text-transform: uppercase;
}

.root-font-lowercase {
    text-transform: lowercase;
}

.root-font-prima-lettera {
    text-transform: capitalize;
}
/* text-transform */
/* font-size */ 
.root-font-pt-5 {
    font-size: 5pt;
}

.root-font-pt-6 {
    font-size: 6pt;
}

.root-font-pt-8 {
    font-size: 8pt;
}

.root-font-pt-9 {
    font-size: 9pt;
}

.root-font-pt-10 {
    font-size: 10pt;
}

.root-font-pt-11 {
    font-size: 11pt;
}

.root-font-pt-12 {
    font-size: 12pt;
}

.root-font-pt-14 {
    font-size: 14pt;
}
/* font-size */ 

/* display */
.root-display-none {
    display: none;
}

.root-display-block {
    display: block;
}
/* display */

/* clear */
.root-clear-dom {
    clear: both;
}
/* clear */

/* cursor */
.root-crs-pointer {
    cursor: pointer;
}
/* cursor */

/* float */
.root-el-align-left {
    float: left;
}

.root-el-align-right {
    float: right;
}
/* float */


/* button */
.btn {
    border-radius: 8px;
    width: 150px;
    height: 30px;
    font-family: Arial, Helvetica, monospace, sans-serif;
    font-variant: small-caps;
    margin-top: 5px;
}
/* btn-success*/
.btn-s:hover {
    background-color: var(--success);
}

.btn-s {
    transition: 2s;
    border: 1px solid var(--yellow);
    background-color: transparent;
    color: var(--light);
    background-image: url('../img/sun.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left center;
}
/* btn-success*/
/* button */

/* body */ 
body {
    background-color: var(--secondary);
    font-family: Arial, Helvetica, monospace, sans-serif ;
    font-variant: small-caps;
}
/* body */ 
/* input type */
input[type=text], input[type=password], input[type=url], input[type=email], input[type=number] {
    display: block;
    width: 94%;
    height: 30px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    background-image: url('../img/sun.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 30px;
}
/* input type */
/* form span */
form span {
    display: block;
    position: fixed;
    left: 60%;
    display: none;
}
/* form span */
/* imposta<zioni pagina dei contenuti e mymodal */
.container {
    border: 1px solid var(--orange);
    /*width: 50vw;*/
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
   /*  position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%); */
    padding: 18px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: var(--dark);
    box-shadow: 0 3px 17px var(--orange);
  }
  .full-screen {
    background-color: var(--fullscreen);
    width: 100%;
    height: 100%;
    position: fixed; left: 0; top: 0;
    z-index: 1;
    display: none;
    filter: alpha(opacity=50);
  }
  .my-alert {
    width: 45vw;
    height: auto;
    position: fixed; left: 50%; top: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 17px var(--secondary);
    border-radius: 8px;
    border: 1px solid;
    padding: 18px;
    text-align: center;
    /*background-color: var(--dark);*/
    /*color: var(--yellow);*/
    z-index: 2;
  }
  .img-close {
    position: fixed;
    top: 5px;
    left: 5px;
  }
  .content {
    border: 1px solid var(--giallo);
    width: auto;
    height: auto;
    padding: 18px;
    border-radius: 8px;
    margin-left: auto;        
    margin-right: auto;
  }
/* imposta<zioni pagina dei contenuti e mymodal */